@tailwind base;
@tailwind components;
@tailwind utilities;

/* Signature font import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


@font-face {
  font-family: 'SignatureFont';
  src: url('./Jellyka_Estrya_Handwriting.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}